html {
  scroll-behavior: smooth;
}
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
}
#video {
  border: solid 1px #f0d396;
}

body {
  text-align: center;
  background-color: #f0d396;
}

h4 {
  display: inline-block;
}
pre {
  font-family: Cinzel Decorative;
  display: inline-block;
  vertical-align: top;
}

#location {
  font-family: cinzel decorative;
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
  margin-left: 50px;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.gallery-container {
  justify-content: center; /* Horizontally center the items */
  position: relative;
  max-width: 800px;
  margin: 0 auto; /* Center the container */
  overflow: hidden; /* Hide any content that overflows the container */
}
  

/* Hide the images by default */
.mySlides {
  animation: fade 1.5s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Show the first slide by default */
.mySlides:first-child {
  display: block;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.mySlides img {
  height: 400px; /* Set the height for all images */
  width: 100%;
  object-fit: cover; /* Maintain aspect ratio */
}

.page {
  font-size: large;
  margin-left:100px;
  padding: 10px; 
  width:600px; 
  height:400px;
  margin-right:-700px;
  margin-bottom: -180px;

}

.timings {
  font-size: large;
  display:inline-block;
  margin-right: -800px;
  margin-top: -22000px;
  margin-bottom: -100px;
  padding: 8px; 
  width:600px; 
  height:400px;
  
}

#button1 {
  padding: 5px;
  height: 50px;
  width: 120px;
  font-size: 17px;
  text-decoration: none;
  background-color: #2f6b04;
  color: WHITE;
  font-family: "Times New Roman";
}

.Testimonial-content {
  background-color: white;
  display: inline-block;
  width: 250px;
  height: 400px;
  padding: 20px;
}

.map {
  float: right;
  margin-top: -260px;
  margin-right: 200px;
}

.foot {
  background-color: #bb610c8e;
  color: black;
  text-align: left;
  font-size: 20px;
  padding: 0px;
}

#scrollpic {
  position:relative;
  background-image: url('entrance-name1.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width:100%;
  height:100vh;
  justify-content: center;
  color:white;
}



#contact-section {
  position: relative;
  background-image: linear-gradient(to bottom, #411f00, #5e2f08, #7c400c, #9c5210, #bd6513);  background-position: center;
  color: white;
  height:100vh;
  padding: 50px;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the opacity here */
  pointer-events: none; /* Allows clicks to pass through the overlay to the content */
}


.contact-content {
  position: relative;
  z-index: 1;
}

.contact-map {
  position: relative;
  z-index: 1;
}

.contact-section h3,
.contact-section p,
.contact-section a {
  position: relative;
  z-index: 1; /* Ensure the text is above the overlay */
}

footer {
  background-color: #8c4401;
  padding: 8px;
}