/* Add a black background color to the top navigation */
html{
  overflow-x: hidden;
  border: 2px solid brown;
}
body{
  overflow-x: hidden;
}
.topnav {
  background-color: white;
  overflow: hidden;
  justify-content: center;
  position: sticky;
  top: 0px;
  z-index: 99999;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #bd651351;
  color: black;
  font-size: large;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #bd6513;
  color: white;
}
.hamburger {
  display: none; /* Hide the hamburger on larger screens */
  background: #bd6513;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
}

.hamburger i {
  color: white;
}
/* Mobile Navigation Bar Styles */
.mobile-nav {
  display: none;
  position: absolute;
  background-color: white;
  top: 60px;
  right: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px); /* Move the mobile nav closer to the hamburger button */
}

.mobile-link {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  font-size: 17px;
}

.mobile-link:hover {
  background-color: #bd651351;
  color: black;
  font-size: large;
}

/* Show mobile navigation when the hamburger is clicked */
.show-mobile-nav {
  display: block !important;
}
video:focus {
  outline: none;
}

body {
  text-align: center;
  background-color: #f0d396;
}
.menus-area {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("banner-img.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-bottom: 20px;
}

pre {
  font-family: Cinzel Decorative;
  display: inline-block;
  vertical-align: top;
}

#location {
  font-family: cinzel decorative;
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
  margin-left: 50px;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  margin-bottom: 60px;
}
.section-title h4 {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 60px;
  margin-top: 75px;
  margin-bottom: 0px;
}
.menus {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu-items {
  flex-basis: 32%;
}
.title {
  background-color: #ff7720;
  text-align: center;
  padding: 10px 0;
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.title:hover {
  background-color: #974512;
  text-align: center;
  padding: 10px 0;
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.single-menu {
  background-color: #e79d6f;
  border: 10px solid #ddd;
  padding: 10px;
  text-align: center;
  position: relative;
  transition: 0.3s;
  margin-bottom: 30px;
}
.single-menu span {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #ff7720;
  padding: 8px 20px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 15px 0 0 0;
}
.single-menu img {
  max-width: 120px;
  border: 1px solid #ddd;
  padding: 3px;
  transition: 0.3s;
}
.single-menu h4 {
  margin: 10px 0;
  padding-bottom: 0px;
  text-transform: capitalize;
  font-size: 24px;
}
.single-menu a {
  display: inline-block;
  color: #ff7720;
  text-transform: uppercase;
  margin-top: 25px;
}
.single-menu:hover img {
  border-radius: 50%;
}
.single-menu:hover {
  border-color: #ff7720;
  border-radius: 7px;
}

@media only screen and (max-width: 767px) {
  .topnav a {
    display: none;
  }

  .hamburger {
    display: block;
  }
  .container {
    width: 350px;
  }
  .section-title h4 {
    font-size: 34px;
    line-height: 50px;
  }
  .menu-items {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  #location{
    position: relative;
    right: 70px;
    bottom: 50px;

  }
}
.menu-items a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

#heading1,
#heading2,
#heading3,
#heading4,
#heading5,
#heading6 {
  font-size: 33px;
  text-transform: uppercase;
  line-height: 60px;
  margin-top: -10px;
  margin-bottom: 15px;
  width: 100vw;
}

footer {
  background-color: #bd6513;
  padding: 2px;
  color: black;
  text-align: center;
}
