* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-image: url('bgimage.png'); /* Add the URL of the image here */
  background-size: cover;
  background-repeat: no-repeat;

}

header {
  background-color: #f0d396;
  color: black;
  text-align: center;
  padding: 1rem;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  overflow: hidden;
  justify-content: center;
  position: sticky;
  top: 0px;
  z-index: 99999;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color:#bd651351;
  color: black;
  font-size: large;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color:#BD6513;
  color: white;
}


h4 {
    display: inline-block;
  }
pre {
    font-family:Cinzel Decorative ;
    display: inline-block;
    vertical-align:top;
  }


main {
  padding: 2rem;
  background-image: url(/ESOeL3RI-Interior-Shot-4-1200x799.png);
  background-repeat: no-repeat;
  height:100%;
  width:100%;
  background-size:cover;
background-repeat: no-repeat;
background-position: center center;

}

.reservation-form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #333;

}

form div {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: bold;
  color: #333;

}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f5f5f5;
}

button {
  background-color: #e84393;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  
}

button:hover {
  background-color: #c0392b;
}
