/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 99999;
  }
  
/* Style the links inside the navigation bar */
.topnav a {
    float: center;
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 30px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color:#bd651351;
    color: black;
    font-size: large;
}
  
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #BD6513;
    color: white;
}

body {
  text-align: center;
  background-color: #f0d396;
}
  
h4 {
  display: inline-block;
}
pre {
  font-family:Cinzel Decorative ;
  display: inline-block;
  vertical-align:top;
}


* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .gallery-container {
    justify-content: center; /* Horizontally center the items */
    position: relative;
    max-width: 700px;
    float: center;
   left:400px;
  }
  
/* Hide the images by default */
.mySlides {
  display: none;
  float: center;
  text-align: center;
}

  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }


  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

.Testimonial-content {
  background-color: white;
  display:inline-block;
  width:250px;
  height:400px;
  padding:20px;
}
  
.foot {
  background-color:#bb610c8e;
  color: black;
  text-align: center;
  font-size: 17px;
  padding: 5px;
}

html {
  scroll-behavior: smooth;
}

.page {
  border:#BD6513;
  border-radius: 30px;
  border-style: ridge;
  margin-left: 30px;
  margin-right: 30px;
  font-size: large;
}

footer {
  border: 2px solid black;
  padding:8px;
}